<% provide(:title, 'Rules') %>

<div class="top">
  <%= link_to "back to top", anchor: 'top' %>
</div>
<div class="container">
  <h1 id='top'>Rules</h1>
  <h2>TABLE OF CONTENTS</h2>
  <ul style="list-style: none;">
    <li><%= link_to "1.0 INTRODUCTION",  anchor: '1.0' %></li>
    <li><%= link_to "2.0 DESCRIPTION OF PLAY",  anchor: '2.0' %></li>
    <ul style="list-style: none;">
      <li><%= link_to "2.1	MAPBOARD",  anchor: '2.1' %></li>
      <li><%= link_to "2.2	STAR CARDS",  anchor: '2.2' %></li>
      <li><%= link_to "2.3	STARSHIP COUNTERS AND MARKERS",  anchor: '2.3' %></li>
      <li><%= link_to "2.4	PLAYER RECORDS",  anchor: '2.4' %></li>
      <li><%= link_to "2.5	HOW TO WIN",  anchor: '2.5' %></li>
      <li><%= link_to "2.6	SETTING THE GAME PREPAIR FOR PLAY",  anchor: '2.6' %></li>
    </ul>
    <li><%= link_to "3.0 GAME PLAY",  anchor: '3.0' %></li>
    <ul style="list-style: none;">
      <li><%= link_to "3.1	SEQUENCE OF PLAY",  anchor: '3.1' %></li>
      <li><%= link_to "3.2	SEQUENCE OF ACTIVITY",  anchor: '3.2' %></li>
      <li><%= link_to "3.3	SPACESHIP MOVEMENT",  anchor: '3.3' %></li>
      <li><%= link_to "3.4	FIRST TURN ENTRY",  anchor: '3.4' %></li>
      <li><%= link_to "3.5	GAS CLOUDS AND DUST",  anchor: '3.5' %></li>
      <li><%= link_to "3.6	COMMAND POSTS",  anchor: '3.6' %></li>
      <li><%= link_to "3.7	SHIP COMMUNICATION",  anchor: '3.7' %></li>
      <li><%= link_to "3.8	SPACESHIP INTERACTION",  anchor: '3.8' %></li>
      <li><%= link_to "3.9	TASK FORCES",  anchor: '3.9' %></li>
      <li><%= link_to "3.10 HIDDEN FORCES",  anchor: '3.10' %></li>
      <li><%= link_to "3.11 EXPLORATION",  anchor: '3.11' %></li>
    </ul>
    <li><%= link_to "4.0 COMBAT",  anchor: '4.0' %></li>
    <ul style="list-style: none;">
      <li><%= link_to "4.1	SHIP COMBAT",  anchor: '4.1' %></li>
      <li><%= link_to "4.2	COLONY ATTACK & CONQUEST",  anchor: '4.2' %></li>
      <li><%= link_to "4.3	BIESIGED COLONIES",  anchor: '4.3' %></li>
      <li><%= link_to "4.4	CONQURED COLONIES",  anchor: '4.4' %></li>
    </ul>
    <li><%= link_to "5.0 COLONIZATION",  anchor: '5.0' %></li>
    <ul style="list-style: none;">
      <li><%= link_to "5.1	COLONIZING PLANETS",  anchor: '5.1' %></li>
      <li><%= link_to "5.2	COLONY TRANSPORTS",  anchor: '5.2' %></li>
    </ul>
    <li><%= link_to "6.0 PRODUCTION",  anchor: '6.0' %></li>
    <ul style="list-style: none;">
      <li><%= link_to "6.1	PRODUCTION TURN",  anchor: '6.1' %></li>
      <li><%= link_to "6.2	POPULATION GROWTH",  anchor: '6.2' %></li>
      <li><%= link_to "6.3	INDUSTRIAL OPTPUT",  anchor: '6.3' %></li>
      <li><%= link_to "6.4	EMIGRATION",  anchor: '6.4' %></li>
      <li><%= link_to "6.5	INDUSTRIAL EXPENDITURES",  anchor: '6.5' %></li>
      <li><%= link_to "6.6	TECHNOLOGY",  anchor: '6.6' %></li>
    </ul>
  </ul>
  <h3 id='1.0'>1.0 INTRODUCTION</h3>
  <p>At the start of play. Four alien societies are poised to invade a large and, hitherto, Unknown section of the galaxy. Its recent discovery has invoked much speculation among these civilizations over its suitability for settlement and exploitation. Detailed studies show, however. That it's relative youth when compared to the rest of the galaxy promises an abundance of habitable planets and mineral deposits without the threat of an indigenous society advanced to a sufficient level to defend it. Each player accepts the command of Captain of the expeditionary fleet of one of these societies. HIS mission is to gain control of most habitable planets for his society.</p>
  <p>STELLAR CONQUEST can be played by two or three players though it is best suited for four players.</p>

  <h3 id='2.0'>2.0 DESCRIPTION OF PLAY</h3>
  <p>Each starting fleet is composed of scouts, corvette warships, and colony transports carrying millions of colonists sent to settle these new worlds. A player's first objective is to get his colonists onto one or more habitable planets before the first production turn (after the fourth turn of movement), While in space, his populations are useless. Once settled, however, they can begin to Increase in numbers and Produce more equipment From this base, a player can send out new colonists to settle other planets and start new industrial bases The speed and efficiency of this growth will go a long way toward determining who will control the greatest number of habitable planets
  <p>Before the colonists can be settled, planets need to be discovered. All spaceships can participate in exploration though the scouts are best suited for the lob. Discovery is accomplished by moving a spaceship into a hexagon containing a Star and surviving any unknown dangers present there. A player can then draw a star card corresponding to the star's color to learn what planets arc in orbit It is useful to know that the habitable planets are more likely to be found around yellow stars than around any of the other colored stars. Even after colonies are established, a player should continue searching for new habitable planets because eventually, he will need to occupy them or, at the very least, deny occupation to the other players.
  <p>Production is most interesting aspect of the game. At the conclusion of every fourth turn, Players determine their growth and industry for the previous quarter. Each colony on a Terran planet grows one additional million for every 5 million colonists, and each colony on a Sub-Terran planet grows one additional million for every 10 million colonists. The barren and Minimal - Terran are considered to inhospitable to encourage growth. All colonies can then begin to produce. Each one million population contributes one industrial point and each factory built in a previous production turn produces one industrial point. These points can then be spent for new spaceships, advanced weapons, factories, or invested in research to develop new technologies. As the game progresses, a player can use these technologies to build even more efficient industry, colony defenses. And more powerful weapons.
  <p>The players Will inevitably collide in their efforts to expand. Warships of different societies found in the same star hexagons must fight for complete control of the system or abandon it in retreat. In the beginning, only the small corvettes are available. As technology is acquired, more powerful fighters and death stars can be built and brought into battle. When the game approaches the final few turns, players will begin to build more and more warships and defensive weaponry to back their bid for expansion and control. The player who has been most efficient in his production of warships and defensive weapons in these final battles will be the one most likely to collect the largest empire and win.

  <h3 id='2.1'>2.1	MAPBOARD</h3>
  <p>The field of play. The map depicts a small portion of the Milky Way Galaxy near our sun. (It has been abstracted and distorted to a degree for game purposes.) A grid of hexagons (called hexes for short) has been superimposed over the map to determine locations and regulate movement. F.mh hex contains its own individual code (called a grid-coordinate) to identify it. The distance across one hex, from Side to side, is approximately one-eighth light-year In addition. There are several special features displayed on the map which require some explanation
  <p>Star Hexes: Fifty four of the hexes contain colored star-like symbol that identifies the presence of a star. The color corresponds to the dominant visible wavelength emitted by the star.
  <table style="width:50%; margin-bottom:10px;">
    <tr id="heading_line">
      <th>COLOR</th>
      <th>SURFACE TEMPERATURE</th>
    </tr>
    <tr>
      <td>Blue</td>
      <td>50,000 K</td>
    </tr>
    <tr>
      <td>White (green)</td>
      <td>20,000 K</td>
    <tr>
      <td>Yellow</td>
      <td>6,000 K</td>
    </tr>
    <tr>
      <td>Orange</td>
      <td>5,000 K</td>
    </tr>
    <tr>
      <td>Red</td>
      <td>3,500 K</td>
    </tr>
  </table>
  <p>Star hexes are important since they signal the possible presence of planets needed for colonization. The game has been designed so that there are higher incidences of certain kinds of planets orbiting certain class stars than others For example, a player has the best chance of discovering habitable “Terran" planets orbiting the yellow stars whereas he has his best chance of finding mineral-rich planets orbiting the blue stars. In this way the color becomes a very useful aid In exploration. Other trends are present but we leave the challenge of their discovery to you.</p>
  <p><b>Gus/Dust Cloud</b>: There are seven distinct interstellar gas and dust clouds present on the map. Each is Identified by a white supple pattern covering several hexes and formed In the of a cloud. Every hex that contains part of a gas and dust cloud is considered a gas/dust cloud hex and will slow ship movement to the rate of one hex per turn.</p>
  <p><b>Entry Hexes</b>: There are four entry hexes, numbered one to four. at the corners of the map board They mark the first hexes to be entered by the player's starting fleets when first moving onto the
  
  <h3 id='2.2'>2.2	STAR CARDS</h3>
  <%= image_tag 'star_card.png', height: 350, class: 'right' %>
  <p>There are five sets of these cards. Each set is distinguished by its own color which corresponds to one of the star colors. The first time a star is explored, a card of the same color is drawn to reveal what kind of planets orbit it.</p>
  <p>It is not necessary to retain the orbit number of a planet in order to play the game. It serves no purpose other than to colorfully introduce the different planets on the cards.</p>
  <p>Mineral rich planets double the productivity of any industry placed thereon.</p>

  <h3 id='2.3'>2.3	STARSHIP COUNTERS AND MARKERS</h3>
  <p>There are exactly 520 ½” square counters provided to represent the various kinds of spaceships, task forces, and command posts needed for play. These are the playing pieces. They have been divided by color into four sets. Each set is identical to the others.</p>
  <p>Printed on each counter is a picture to identify it and often a number to indicate its size.</p>
  <ul style="list-style: none;"> 
    <li><b>Scout</b>: these starships are used primarily for exploring stars and scouting opposing fleets. They have no combat ability.</li>
    <li><b>Colony Transport</b>: Each colony transport exists just to carry one-million population through space. Once its passengers disembark onto a planet it disappears. Consequently whenever a player wishes to transfer population from one planet to another, he must build new colony transports to carry them.</li>
    <li><b>Corvette</b>: A warship. Corvette can battle other spaceships and attack colonies.</li>
    <li><b>Fighter</b>: another kind of warship. Fighters are superior to Corvettes in combat.</li>
    <li><b>Death Star</b>: the most powerful kind of warship.</li>
    <li><b>Task Force</b>: Spaceships moving together can be placed in Task Forces.</li>
    <li><b>Command Post</b>: Until a player is able to develop Unlimited Ship Range, he may not move any of his ships, except scouts' more than eight hexes from a command post. A player can place command posts in any stars hexes containing his colorized planets.</li>
  </ul>
  <h3 id='2.4'>2.4	PLAYER RECORD SHEET</h3>
  <p>Each player receives and uses a Player Record Sheet. On it, he records research expenditures, colony and industry levels, and information that he collects from exploration. A sample sheet partially filled has provided at the conclusion of these rules to use as a guide on to record data

  <h3 id='2.4.1'>2.4.1	TASK FORCE CARD</h3>
  <p>Each player receives one Task Force Card on which to keep his spaceships currently in task forces It also provides all of the charts and records used in play.

  <h3 id='2.5'>2.5	HOW TO WIN</h3>
  <ol type="1">
    <li>Completion of turn 44. The game ends and a winner is determined. Each player awards himself 3 points for every Terran planet he controls and 1 point for every sub-Terran planet he controls. The player with the most points wins</li>
    <li>A player is considered in control of a planet If he can comply with any one of the following four situations</li>
    <ol type="a">
      <li>He has a colony on the planet (even if enemy spaceships are in the same star hex).</li>
      <li>He has conquered another's colony on planet and has a warship in its star hex.</li>
      <li>The planet is unoccupied but has a spaceship in its Stat hex.</li>
      <li>The planet is unoccupied, but he has another colonized planet in the same star hex and there are no enemy spaceships there.</li>
    </ol>
    <li>Minimal Terran and barren planets have no value toward victory</li>
  </ol>
  <h3 id='2.6'>2.6	SETTING UP THE GAME</h3>
  <ol type="1">
    <li>The mapboard and put on a flat surface. Allow for additional room around the board for the placement of the Task Force Cards</li>
    <li>Divide the Star Cards into their color sets, shuffle them, and then put them, face-down, Into their spaces on the mapboard.</li>
    <li>Determine the order in which the players will take turns during the game If no agreement can be reached, use the dice to set first player should near the corner of the board showing entry hex #1 as that is where his starting forces must enter</li>
    <li>Beginning with the first player, give each player one task force card, a Record Sheet, a pen, and a full set of counters.</li>
  </ol>

  <h3 id='2.7'>2.7	PREPARE FOR PLAY</h3>
  <ol type="1">
    <li>From his supply of counters, each player collects his starting fleet of spaceships consisting of:</li>
    <ul>
      <li>4 Scouts</li>
      <li>4 Corvettes</li>
      <li>35 colony Transports (loaded with colonists)</li>
    </ul>
    <li>Next. Each player receives a bonus 25 industrial Points (IPs) for which can use as an initial investment in research and/or for the purchase of spaceships to add to his starting fleet. He may buy or invest in the following items only - scout and corvette spaceships and level 1 items available from any of the three Research Charts so long as keeps within this list, he can use his Bonus IP's as wishes can even divide them among several items Prices are found on the Task Force Cards</li>
  </ol>

  <h3 id='3.0'>3.0 GAME PLAY</h3>

  <h3 id='3.1'>3.1	SEQUENCE OF PLAY</h3>
  <ol type="1">
    <li>After all preparations are completed the game is ready to start. Players will continue to take their turns in the same order as when they up. When a player completes his turn, he should mark its passage on his Record Sheet. After all players have completed 44 turns. The game ends. And a winner is determined as explained in <%= link_to "HOW TO WIN", anchor: '2.5' %></li>
    <li>A turn, itself is composed of several distinct activities which must be completed in the order presented below. Once a player begins a new activity in his turn, he cannot return to a previous activity until his next turn. When the player completes has final activity, his turn is over, and the next player then has turn.</li>
    <li>One final note - throughout these rules, references will made to things friendly and enemy their meanings are simple enough. Anything that belongs to a player is friendly to him. Everything that doesn't belong to him is his enemy.</li>
  </ol>

  <h3 id='3.2'>3.2	SEQUENCE OF ACTIVITY</h3>
  <p>Turn Sequence of Activity</p>
  <ol type="1">
    <li>Move any or all spaceships in your force.</li>
    <li>Explore new stars</li>
    <ol type="a">
      <li>Resolve any exploration risk</li>
      <li>Discover planets, enemy colonies, and enemy spaceships in the solar systems of successfully explored stars.</li>
    </ol>
    <li>Resolve combat with all enemy spaceships coexisting in the same star hex with your spaceships</li>
    <li>Resolve any attacks you wish to make against enemy colonies.</li>
    <li>Debark any colonists you wish onto friendly planets</li>
    <li>Record the passage of one turn on your Record Sheet</li>
    <li>At the end of every fourth turn, all players will participate in a special production turn.</li>
  </ol>

  <h3 id='3.3'>3.3	SPACESHIP MOVEMENT</h3>
  <ol type="1">
    <li>In his turn, a player may move as many of his own spaceships as he wishes (none, some, all).</li>
    <li>He must move his spaceship from hex to connected hex. He is not permitted to jump his ships over hexes.</li>
    <li>While moving a ship, he can change direction without cost or penalty</li>
    <li>He may move each of his spaceships up to the limit indicated by his ship speed.</li>
    <li>All ships begin with a speed of two hexes per turn. Every player can improve the speed of his ships, by investing in Ship Speed Research.</li>
  </ol>
  
  <h3 id='3.4'>3.4	FIRST TURN ENTRY</h3>
  <ol type="1">
    <li>Each player will need to bring his starting fleet of spaceships onto the mapboard on his first move. He may only do so via his entry hex</li>
    <li>A player counts the entry hex as the first hex of movement for each spaceship as it enters the mapboard.</li>
  </ol>

  <h3 id='3.5'>3.5	GAS/DUST CLOUDS</h3>
  <ol type="1">
    <li>A spaceship may enter a gas/dust cloud hex only if it begins its move for the turn in a hex next to the gas/dust cloud hex. If it starts farther away, it must first move next to the gas/dust cloud hex and then wait for its next turn to enter. Once the spaceship enters the gas/dust cloud hex, it can move no farther that turn.</li>
    <li>A spaceship can move through gas/dust cloud hexes at a reduced speed of just one hex per turn.</li>
    <li>A spaceship leaving a gas/dust cloud at the start of its turn may move up to its full speed.</li>
  </ol>

  <h3 id='3.6'>3.6	COMMAND POSTS</h3>
  <ol type="1">
    <li>Spaceships (except for the scouts) are not permitted to move more than 8 hexes from a friendly command post. Any of these spaceships that do move beyond the 8 hex range from a friendly command post are eliminated immediately.</li>
    <li>Command posts may be placed in any star hex containing a friendly colonized planet. They do not have to be placed on every friendly colonized planet nor must they be placed on any; however, if a player has no command post on the mapboard, he must trace his eight hex route through his entry hex to the board edge. The entry hex must be counted as part of the route. (There is considered to be a command post off the mapboard immediately adjacent to each entry hex.)</li>
    <li>Command posts are not permanent emplacements. If a colony is captured or abandoned, any command post there must be removed. They may be voluntarily removed or switched to other friendly planets at any time. Care should taken where to place command posts since their placement signals the presence of a colony to one's opponents.</li>
    <li>Once a player acquires Unlimited Ship Range through research, he is no longer restricted by the Command Posts and can with them forthwith for the rest of the game</li>
    <li>Each player has been given what is considered an adequate supply of command post counters. He cannot use more than the amount provided to him. Command posts are never eliminated and can be re-used indefinitely.</li>
    <li>Scouts have no range restrictions and are not tied to command. They may travel anywhere on the mapboard.</li>
  </ol>

  <h3 id='3.7'>3.7	SHIP CONMUNICATIONS</h3>
  <ol type="1">
    <li>In the beginning, a player is restricted to directing his spaceships only when they occupy or pass through a star hex (any star hex). Consequently, each spaceship must be given a specific star hex destination when it enters the board and each time it is ready to leave a star hex and that destination cannot he altered while the spaceship is traveling through hexes which don't contain a Star</li>
    <li>A player must move each of his spaceships to its destitution star hex in a direct manner; He must use a route which will reach the destination Star hex in the fewest hexes possible. He may, though route his spaceships around star hexes lying in their path order to avoid combat with enemy spaceships he may also route his spaceship ground cloud hexes to save time, but these are the exceptions</li>
    <li>A spaceship which passes through a star hex while en-route to its destitution may have a new star selected tor it if so desired.</li>
    <li>A spaceship may never be given the star hex from which it last departed as a new destination</li>
    <li>here has been no approved method provide, for recording spaceship destinations simply because monitoring opponent's destinations is during the game and it is worth to check up on them after the game. Each player is left to his own devices to decide how he wishes to remember what is heading where the most obvious method, writing destinations down on paper, has proven both tedious and distracting so is not recommended except, perhaps in tournament play. If memory needs a boost, try keeping all spaceships in task force and using the task force arrowhead on the counter as a pointer toward the destination.</li>
    <li>Once a player acquires Unlimited Ship Communications through research, he is no longer subject to directing his spaceships toward stars and can move them, instead, wherever he wishes without restriction. He is now able to direct his ships from all of the hexes on the mapboard.</li>
  </ol>

  <h3 id='3.8'>3.8	SPACESHIP INTERACTION</h3>
  <ol type="1">
    <li>Every hex is capable of holding an unlimited number of spaceships, Because of this, players can operate large fleets anywhere on the mapboard</li>
    <li>Enemy spaceships are ignored everywhere outside of the star hexes as if they weren't there. A player may move his spaceships through these enemy-occupied hexes and even halt their move in them without causing any interaction. Scouting of and combat between spaceships can occur only in star hexes.</li>
    <li>Spaceships in star hexes do exert a presence. Whenever a spaceship enters a star hex already occupied by one or more enemy spaceships, it is forced to end its turn there (thereby losing whatever remains of its move). Later in the turn, combat will determine who will remain there.</li>
    <li>Many counters representing more than one spaceship have teen Included to help manage large numbers of the same type of spaceship operating together. A player may exchange counters in play for others of the same type in his stock at any time so long as the actual number of spaceships remain the same.</li>
      <ul style="list-style: none;">
        <li><i>For example, three scout counters each marked with a one in the same hex can exchanged for one scout counter marked with a number three. At a later time, the single counter representing three scouts can replaced by the three individual scout counters</i></li>
      </ul>
    <li>A player is limited by his supply of playing pieces (called his stock) to the number of spaceships he can put on the mapboard</li>
    <li>Ships destroyed during the game are returned to the owner's stock and are immediately available for re-use.</li>
  </ol>
  
  <h3 id='3.9'>3.9	TASK FORCE</h3>
  <ol type="1">
    <li>Players are not required always to move their spaceships individually, one by one, as often is the case in other published games of this genre. Players are also allowed to organize spaceships into groups and move them together as a fleet. This makes moving large forces much easier.</li>
    <li>Task force markers have been included as a convenient method of Moving large fleets of spaceships. They also are useful in disguising the size of space fleets.</li>
    <li>Anytime during his turn, a player may replace with a task force marker one or of his spaceships occupying the same hex. He puts the spaceships on his Task Force Card in that task force's box. On the mapboard, the task force marker and moves for all of the spaceships in this box. Ships in task force are still subject to the same rules of movement and combat</li>
    <li>A player may move his spaceships into or out of his task forces anytime during his move.</li>
    <li>A player is free to remove any of his task force markers from the mapboard at any time Just by replacing each with the spaceships it represents</li>
    <li>Players are not required to put their spaceships into task forces. Their use is purely voluntary Players that do use them may not have more in play than have been provided in their counter set (15).</li>
  </ol>

  <h3 id='3.10'>3.10	HIDDEN FORCES</h3>
  <ol type="1">
    <li>Secrecy plays an important role in the conduct of STELLAR CONQUEST. Ideally, each player should operate as an isolated entity in complete Ignorance of the activities of his only by physical Investigation should he be able to discover enemy dispositions. Total isolation is, of course, impractical. Certain precautions can be implemented, though, to make inadvertent discoveries more difficult.</li>
    <li>Record sheets are never open to inspection; all information recorded thereon is private until the game is over. All spaceships on the mapboard should be kept face-down or in task force. All spaceships on the task force cards should be kept either face-down or covered.</li>
    <li>Players are not required to reveal spaceship destinations. Players reveal their spaceships and colonies only to those who legally discover them during a movement or exploration activity. (The process of exploration is fully described in the next section.)</li>
    <li>For the sake of convenience, battles should be fought in front of all players even though third parties are made privy to secret information in the process. For the same reasons, permissible demands for information about spaceships passing through colonized star hexes should made aloud, even though the act would reveal the presence of the colony to all.</li>
    <li>For tournaments, agreement can reached beforehand to communicate only in writing and to resolve both exploration risks and battles in private.</li>
    <li>The fact that command posts often reveal to one's enemies the locations of otherwise hidden colonies makes their exclusion preferable if at all possible. It is, therefore, recommended that the use of be discarded for Tournament play. Instead, each player may secretly trace his eight hex routes back to any of his colonies without the need to reveal their presence to his opponents. Of course, this necessitates honest behavior on the part of everyone since range violations cannot now be monitored.</li>
  </ol>

  <h3 id='3.11'>3.11	EXPLORATION</h3>
  <ol type="1">
    <li>Only after a player has finished moving all of his spaceships that he wishes to move in his turn, may he start to explore star hexes. His conduct the actual explorations.</li>
    <li>A player explores for three reasons—to discover planets, identify enemy spaceships, and to locate enemy colonies. When searching for planets, he needs to explore only those star hexes that he has not already successfully explored. When searching for colonies and spaceships, he is free to explore and re- explore all the star hexes He initiates the exploration of a star hex by moving at least one of his spaceships into the hex and stopping it there</li>
    <li>The scouts and colony transports, unarmed vessels, are vulnerable to un-foreseen dangers each time they search an unexplored star hex by themselves. Therefore, every turn, before making any discoveries, a player must roll one die for each and every one of his scouts, colony transports unaccompanied by warships and occupying star hexes he has yet successfully explored for planets Every time a “1” is rolled. The scout or colony transport in question is destroyed and removed from the mapboard. The warships (corvettes. fighters. and death stars) run no such risk and protect scouts and colony transports from exploratory dangers. After removing losses, the player can then discover planets, enemy colonies, and spaceships but only in those star hexes that still hold at least one of his spaceships</li>
    <li>To discover what planets (if any) are in a star hex, a player draws a Star Card that matches the color of the star. He must first record the card number on his record sheet map next to the star This card will be associated with this particular star for the of the game. He also should record the planet information there, tm. The player keeps Star Card</li>
    <li>If the star explored has already been successfully explored by another, then he, naturally, would hold the Star Card associated with that star. In this case, the player does not draw a new card rather the correct Star Card from him, records the information, and gives it back</li>
    <li>All enemy colonies and spaceships in star hexes occupied by the player's spaceships must be revealed to him, alone. The size of the colony, all of its defenses except planet shields, and factories are still kept secret at this time. If a colony has a planet shield that too must be told.</li>
    <li>A player may choose not to explore star hexes in order to protect his scouts and colony transports sitting there. Exploration is automatic. Once a star hex has been successfully explored by a player, however, it no longer poses any threat to his scouts and colony transports</li>
    <li>All planets discovered orbiting a star are considered in the same hex with the star</li>
    <li>Spaceships may NOT explore the star hexes they pass through during their move. They must stop to explore</li>
    <li>Any player may, if he wishes, examine spaceships entering or passing through a star hex occupied by at least one of his colonies.</li>
  </ol>
  
  <h3 id='4.0'>4.0	COMBAT

  <h3 id='4.1'>4.1	SHIP COMBAT</h3>
  <ol type="1">
    <li>In his turn, after finishing his exploration, a player must attack enemy spaceships occupying the same star hexes with his spaceships. He must continue to fight until such time that no star hex contains the spaceships of more than one player He is considered the attacker for all of his combat</li>
    <li>Combat is fought in battles. Each battle is fought for control of a single star hex. Battles in different star hexes cannot combined into larger battles. The attacker decides the order in which battles will be fought.</li>
    <li>At the start of each battle, both participants first inspect the other's spaceships in the contested star hex. In the case where neither participant has any warships in star hex (only scouts and/or colony transports), the attacker immediately must retreat all of his spaceships out of the star hex into an adjacent hex of his opponent's choosing.</li>
    <li>A battle for a star hex consists of an indeterminate number of barrage rounds fought until only side or the other voluntarily withdraws out of the star hex or is completely eliminated. In each barrage round, every warship simultaneously fires at a pre-selected enemy spaceship. Destroyed spaceships are removed after all combat fire for the round has been completed. If neither side has been completely eliminated, the attacker may then withdraw some or all of his spaceships to an adjacent hex of his opponent's choosing If he decides to keep any of his spaceships in the star hex the defender is given the same option If both decide to stay, another barrage round is fought.</li>
    <li>Barrage fire is resolved in the following way:</li>
    <ol type="a">
      <li>The attacker selects a target enemy spaceship for each one of his warships. Then the opponent does the same. A warship may be directed to fire at any enemy spaceship in the star hex, even one already targeted for attack by other warships of the force.</li>
      <li>The attacker resolves his combat fire first. He selects one of his warships and cross-indexes its type to that of its target spaceship on the Attack Table. This gives him a range of numbers. He, then, rolls one or two dice. If the result falls within this range, the target spaceship is destroyed</li>
      <ul>
        <li><i>For example, if a fighter is directed to attack a scout. an inspection of the Attack Table reveals that the player needs to roll a one through five with one die to destroy the scout, A roll of six would mean a miss.</i></li>
        <li><i>In another example. a corvette is directed to attack another corvette Only a die roll of one would cause the target corvette's destruction Any other result would have no effect. In most cases only one die is needed for each warship's combat fire. However, when the die range is 10, two dice must rolled and the result must be 10 exactly to gain a kill.</i></li>
      </ul>
    <li>The attacker repeats step b. for every one of his warships until all have had a chance to fire. Then the opponent resolves all of his warship's combat fire (including those just destroyed by attacker's fire) in the same way. Only after all warships of both sides have had a chance to fire, are destroyed spaceships removed from play.</li>
    </ol>
    <li>Ordinarily a warship can fire only once per round. However, any player who is able to acquire Improved Ship Weaponry via research gains a Special bonus in battle. Whenever one of his warships misses its target spaceship, it can immediately fire again at the same spaceship one more</li>
    <li>A warship cannot change its target spaceship once the barrage round begins. Players often like to gang up several warships against one particular spaceship thereby improving the chances of destroying it. If, as often happens, a kill is obtained before all the warships have had a chance to fire, those that didn't fire lose the opportunity to do so for the rest of the barrage round</li>
    <li>A warship is never required to fire at the same spaceship it missed in a previous round It may fire at the same or a different spaceship</li>
    <li>Scouts and colony transports are not warships and cannot attack. They can, however, be attacked.</li>
    <li>There is an unlikely but possible situation where both sides have eliminated all warships in battle but still retain scouts and colony transports in same star hex. In this case, the attacker must withdraw all of his spaceships out of the star hex and into an adjacent hex of the opponent's choosing</li>
    <li>It is recommended, though not required, that both players temporarily move their spaceships to an open area off the mapboard to fight a battle. This makes directing and resolving combat fire between the spaceships much easier.</li>
    <li>When a player voluntarily withdraws his spaceships from battle, he can leave some to continue the fight. All ships retreating from the hex must be moved to an adjacent hex of the opponent's choosing. A player can pick just one hex for all of his opponent 's withdrawals in that battle</li>
    <li>Each spaceship withdrawn from battle must be given new destination if one is required.</li>
    <li>Spaceships cannot hide on planets. A spaceship is always considered in space and vulnerable to attack. Only colony transports may land on planets and then only to debark their passengers, after which they immediately disappear and are returned to the player's stock</li>
  </ol>
  
  <h3 id='4.2'>4.2	COLONY ATTACK AND CONQUEST</h3>
  <ol type="1">
    <li>As he proceeds with his turn, a player may, if he wishes, attack enemy colonies occupying the same star hexes with his warships. He cannot begin his attacks against colonies until he finishes all of his battles against enemy spaceships. Making attacks against colonies is never required; it is always a voluntary action.</li>
    <li>If the player plans to attack more than one enemy colony in different star hexes, he will decide the order of their resolution. He may attack in only one star hex at a time.</li>
    <li>Only after the player announces an attack against a colony must its owner reveal what missile bases are found thereon. The player, then, is required to fight at least one barrage round against the colony if, Indeed, it does have missile defenses. Colonies once protected by a planet shield. cannot be attacked. They are unconquerable.</li>
    <li>A colony not defended by missile bases or a planet shield is conquered immediately without a fight when attacked. If it is defended by missile basest however, it can conquered only after all its missile bases have been destroyed</li>
    <li>Combat against missile bases is conducted using the same method devised for resolving spaceship combat. Just substitute the missile bases or the defending spaceships. Retreats are not allowed in colony combat. Instead the attacker may call off his attack at the end of any barrage round if he so desires without penalty.</li>
    <li>If the attacker is able to destroy all of the missile bases of a colony while still keeping at least one warship in the same star hex, he has conquered the colony. The colony remains conquered only so long as he can keep at least one of his warships in its star hex.</li>
    <li>The defender has the opportunity to destroy any or all of his colony's factories at the end of each barrage round that it remains unconquered He would consider doing this only when the colony is in danger of falling into enemy hands</li>
    <li>If there are more than one colonized planet in the contested star hex. the attacker may attack them separately or together or alternate his attacks at Will.</li>
  </ol>
  
  <h3 id='4.3'>4.3	BESIEGED COLONIES</h3>
  <ol type="1">
    <li>An unconquered colony is considered to under Siege if at least one enemy warship remains in its star hex.</li>
    <li>A besieged colony may not build any spaceships. Neither may it be used as a command post</li>
    <li>A besieged colony may build missile bases or a planet shield. It may also build factories. It may contribute toward research.</li>
  </ol>

  <h3 id='4.4'>4.4	CONQUERED COLONIES</h3>
  <ol type="1">
    <li>Once conquered, a colony immediately comes under the control of its conqueror. The owner must provide the conqueror with all of its population and factory information. The populations of conquered colonies although now under the control of a new master still remain loyal to the original owner.</li>
    <li>A conquered colony cannot produce any i p.'s for the conqueror in the first production turn following its conquest. For all subsequent production turns, however, for as long as it remains under that player's control, it will yield full to turn.</li>
    <li>A player may not mix his populations with conquered populations He can make conquered populations migrate to new planets which are empty or contain other conquered colonies Of the same color. Wherever they settle, their status as a conquered colony remains the same. When moving conquered populations, appropriately colored ships must be obtained from the original owner They remain under the conqueror's control so long as he keeps at least one warship with them</li>
    <li>Conquered colonies may not build missile bases or a planet shield. Conquered colonies may build spaceships for the conqueror. They may also contribute toward conqueror's technology research.</li>
    <li>Conquered populations cannot increase in number nor are they allowed the bonus. Their numbers must remain the same.</li>
    <li>Whenever a hex containing a conquered colony or conquered colony transports is abandoned by all of the conqueror's warships, for whatever reason, the conquered colony or transports revert back to the control of the original owner. The colony is no longer considered conquered and may begin producing for him in the very next production turn.</li>
    <li>Another player can wrest control of a conquered colony by displacing the guarding warships in its star hex with at least one of his own. He becomes the new conqueror and must also wait one production turn before he can begin to use the colony's IP 's. He cannot take control of enemy colony transports but only attack them instead</li>
    <li>A conquered colony (or any colony, for that matter) emptied of all its population is considered abandoned and a new colony may be started on the same planet by any player. All factories left on abandoned colonies are considered destroyed</li>
    <li>A player is permitted to destroy any or all of the factories in any or all of his conquered colonies at any time during his turn.</li>
    <li>A player is also permitted to destroy conquered populations anytime during his colony attack activity including the turn of conquest. Each warship that remains in the colony's star hex after conquest may remove population at the following rates:</li>
    <ul>
      <li>Each corvette can destroy 1 million population per turn</li>
      <li>Each Fighter can destroy 3 million population per turn</li>
      <li>Each DeathStar can destroy 5 million population per turn</li>
      </ul>
  </ol>

  <h3 id='5.0'>5.0	COLONIZATION</h3>

  <h3 id='5.1'>5.1	COLONIZING PLANETS</h3>
  <ol type="1">
    <li>After completing all attacks in his turn, a player may debark as many passengers from his surviving colony transports as he wishes. These populations may be placed on uninhabited planets to start new colonies or on planets with friendly colonies to increase their size. They may not be placed onto a planet holding enemy colonies.</li>
    <li>A colony transport may debark its passengers onto a planet in the star hex it occupies.</li>
    <li>A player cannot start colonies on barren planets until he acquires Controlled Environment Technology (CET). Even then. only the colony transports built during or after the acquisition of CET may debark colonists onto barren planets. Those in use at the time are excluded because they were already sent into space before CET could be installed.</li>
    <li>Each time a player starts a new colony, he should make a note of its host planet and its population on his player record sheet. While the colony remains in existence, this record should be maintained to indicate new gains and losses in population. factories. and missile bases</li>
    <li>A player is permitted to have as many colonies as he is willing and able to start. If he runs out of space on his record sheet, he is allowed to continue his record on a new one.</li>
    <li>Only one colony may exist on a planet at a time. It must be emptied of all its population before another colony may be placed there.</li>
    <li>A colony may never have more Population than is allowed by its planet's capacity. Any excess found or put thereon is eliminated at the end of the turn</li>
  </ol>

  <h3 id='5.2'>5.2	COLONY TRANSPORTS</h3>
  <ol type="1">
    <li>Population is counted in millions and cannot be further divided. Each colony transport is able to carry just one million population.</li>
    <li>Once a Colony Transport's passengers have debarked onto a planet, it must be removed from play.</li>
    <li>Every time a player wishes to move any of his population from one planet to another, he must build new colony transports in that planet's hex to carry them. The population is automatically loaded onto the colony transports.</li>
    <li>A player must use colony transports even when he wishes to transfer population from one planet to another in the same hex.</li>
    <li>As is the case with all construction, colony transports may be built only during a production turn. Consequently, these are the times that a player can prepare his populations for movement He cannot build colony transports between production turns.</li>
    <li>Colony transports are never required to debark their passengers and can stay In space for the entire game if so desired</li>
    <li>Whenever a colony transport is destroyed. either by exploration or by combat, its one million passengers die with it.</li>
  </ol>
  
  <h3 id='6.0'>6.0	PRODUCTION</h3>

  <h3 id='6.1'>6.1	PRODUCTION TURN</h3>
  <ol type="1">
    <li>At the conclusion of every complete forth turn (that is, after all players have taken their fourth, eighth, twelfth, sixteenth, etc. turns) a special production turn is inserted. At this time all players, simultaneously calculate the production and growth for each of their colonies during the last four turn period. They, then, use this industrial output to buy new equipment and to invest in research. They also prepare populations for emigration. All of this is done in secret.</li>
    <li>Each colony must be treated as a distinct production unit. A player must complete all the growth, industrial and emigration activities of one colony before he can proceed to those of another.</li>
    <li>Ali colonies contribute to their side's production, even those started in the previous turn.</li>
    <li>There are a total of ten production turns in the game. The one which would normally follow turn 44 is ignored and a winner is determined instead.</li>
    <li>The production turn activities of each and every colony are conducted in a step-by-step sequence as outlined below.</li>
    <ol type="a">
      <li>determine population growth</li>
      <li>calculate the of IPs produced by the colony</li>
      <li>build colony transports for emigration</li>
      <li>spend IPs on equipment and research</li>
    </ol>
  </ol>

  <h3 id='6.2'>6.2	POPULATION GROWTH</h3>
  <ol type="1">
    <li>One million population is gamed for every five million population present on a Terran planet</li>
    <li>One million population is gained for every ten million population present on a sub-Terran planet</li>
    <li>No population increase is allowed on minimal-Terran or barren planets.</li>
    <ul>
      <li><i>For example, a colony with a of thirty-nine million on a Terran planet gains seven million additional million; the same colony on a sub-Terran planet gains three million additional population; the colony gains increase in population if on a minimal- Terran or barren planet</i></li>
    </ul>
    <li>A colony's population can never exceed its host planet's capacity. Any excess must be placed on colony transports to emigrate elsewhere or be eliminated at the end of the production turn.</li>
  </ol>

  <h3 id='6.3'>6.3	INDUSTRIAL OUTPUT</h3>
  <ol type="1">
    <li>A simple formula is utilized to calculate the IP output for a colony as follows. Each one million population in the colony, including population growth, provides 1 IP and each factory thereon produces 1 IP</li>
    <ul>
      <li><i>For example, a colony on a Terran planet with thirty million inhabitants and ten factories will first receive a population growth of six million, thereby increasing its size to thirty-six million inhabitants. They 36 IP 's. The ten factories will produce another 10 IPs. The colony. then is able to generate a total amount of 46 IPs for this production turn.</i></li>
    </ul>
    <li>Colonies on mineral-rich planets double the total amount of the industrial output. If the above-mentioned colony of thirty million inhabitants and ten factories were based on a minimal-Terran, mineral-rich planet. its output would be increased to 80 i p.'s (30 IPs for initial population plus 10 IP 's for zero population growth on a minimal-Terran planet plus 10 IPs for ten factories, then doubled).</li>
  </ol>

  <h3 id='6.4'>6.4	EMIGRATION</h3>
  <ol type="1">
    <li>Any or all of the inhabitants of a colony including those just gained can be moved off a planet.</li>
    <li>Each one million population to be moved requires one colony transport to carry them built at a cost of 1 IP from the colony's output.</li>
    <li>When placed in the colony's star hex. The colony transport is considered to be automatically loaded with one million population from the colony.</li>
    <li>A colony is able to generate additional population, termed a population bonus, above its normal population growth depending upon the size of its emigration.</li>
    <li>The population bonus is determined in the following manner:</li>
    <ol type="a">
      <li>The colony's bonus limit is first calculated. It is the sum of its population growth for the turn plus three million population.</li>
      <ul>
        <li><i>For example, a Terran colony with twenty- seven million inhabitants would have a bonus five plus three or eight. A sub-Terran colony with thirty-nine million inhabitants would have a bonus of three plus three or six.</i></li>
      </ul>
      <li>For every three million population placed in colony transports up to its bonus limit, an additional one million population is gained.</li>
    </ol>
    <li>This population bonus must be emigrated to be kept; they cannot remain with the colony. Colony Transports must be purchased by the colony to carry them. Population bonus not immigrated is lost instead.</li>
    <li>Emigrants must be moved to a different planet. They cannot be returned by the same Transport later to the same colony.</li>
  </ol>

  <h3 id='6.5'>6.5	INDUSTRIAL EXPENDITURES</h3>
  <ol type="1">
    <li>A colony can use whatever IPs it has remaining after any colony transport purchases to buy new spaceships, factories, and defenses, and to invest in technological research. Prices for equipment are provided on the price schedule. Technological costs are found in the Research Tables.</li>
    <li>The colony owner may use the IPs as he sees fit.</li>
    <li>A colony <b>CANNOT</b> combine with other colonies to buy items it could not afford on its own.</li>
    <li>Any number of colonies may contribute toward the same technological research.</li>
    <li>Most items cannot be bought until the colony's owner has acquired the technology needed to build them. The colony transports, scouts, and corvettes can be purchased.</li>
    <li>A new technology can be paid for in one production turn or over several production turns. A player is allowed to use a technology in the same turn it is acquired.</li>
    <li>Each time a player invests in a new technology he should make a note of it on his record sheet. He is then able to maintain a running total of the IPs put toward it until its price is met.</li>
    <li>IPs <b>MUST</b> be used in the same turn they are generated, or they're lost. They cannot be saved. We recommend that a colony's leftover IPs be invested in some kind of research.</li>
    <li>Newly built spaceships are placed in the producing colony's star hex.</li>
    <li>Players should update their colony records to reflect new purchases of factories, missile bases, and planetary shields.</li>
    <li>A colony may hold any number of missile bases.</li>
  </ol>

  <h3 id='6.6'>6.6	TECHNOLGY</h3>
  <ol type="1">
    <li>Technology is divided into three distinct classes: ship speed, weapons, and pure technology.
    <li>A player may not invest in a second level technology until he has purchased at least one of the first level technologies in the same class.</li>
    <li>Examination of the Research Tables reveals that many of the technologies have two prices. A player may use the lower price only if he owns the perquisite technology mentioned.</li>
    <li>A player who acquires the technology to build a certain item does not buy that item, itself, just the ability to buy it</li>
    <li>As an optional rule, consider letting missile bases use Improved Ship Weaponry along with the warships.</li>
  </ol>
</div>